rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Absolutely no reads or writes allowed from client-side SDKs.
    // All database interactions *must* go through the Firebase Admin SDK
    match /{document=**} {
      allow read, write: if false;
    }
  }
}