@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  overflow-y: auto; /* Allow scrolling */
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/BGArtists.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

.products-container {
  flex: 1; /* this fills the remaining space and pushes the footer down */
  padding: 60px 20px;
  font-family: 'DM Sans', sans-serif;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer {
  padding: 40px 0;
  text-align: center;
  font-size: 0.9rem;
  color: #165a9c;
  background-color: #fff3f3;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05); /* subtle top shadow */
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.products-grid {
  column-count: 3;
  column-gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.product-card {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  break-inside: avoid; /* <-- Prevents card from being split across columns */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.55);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

.product-title {
  font-size: 1.5rem;
  color: #165a9c;
  margin-bottom: 10px;
}

.product-description {
  color: #165a9c;
  font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .products-grid {
    column-count: 1; /* Change from 3 columns to 1 */
    column-gap: 0;
    width: 100%;
    display: block;
    padding: 0 10%;
  }

  .product-card {
    width: 100%;
    margin-bottom: 30px;
  }

  .artists-heading {
    font-size: 1.5rem;
    margin-bottom: 40px;
    padding: 15px 30px;
  }

  .page-footer {
    font-size: 0.8rem;
    padding: 30px 0;
  }
}

